<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OCSR News : Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/css/normalize.css">
        <link rel="stylesheet" href="../assets/css/styles.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <main>
            <header>
                <aside class="folio">
                    <div class="issue-label">Volume 8, Number 1</div>
                    <div class="date-label">January 2022</div>
                </aside>
                <figure class="masthead">
                    <img src="../assets/img/mast-head.png" alt="The Orange County Scottish Rite News, Orient of California, Southern Jurisdiction">
                </figure>
            </header>
        
            <article>
                <h1 class="first">Header 1</h1>

                <figure class="author-photo">
                    <img src="../assets/img/author.png" alt="A photo of the article author">
                </figure>
                <p>Commodo veniam qui in aliqua occaecat qui fugiat ad. Qui deserunt deserunt aute id laboris consectetur. Cupidatat aliquip fugiat amet consequat incididunt. Incididunt non occaecat consequat excepteur enim. Adipisicing aliqua sunt anim sint nulla ea. Elit non pariatur sunt non amet ex qui nisi incididunt elit.</p>

                <p>Dolore exercitation consectetur commodo elit nostrud consectetur ad ut do consectetur exercitation do. Pariatur eiusmod incididunt irure culpa ex nostrud id ea quis exercitation eu. Tempor pariatur culpa consequat reprehenderit sint deserunt sint mollit. Ullamco tempor fugiat magna proident mollit fugiat sunt sint ex. Lorem elit ea officia nulla duis amet do commodo dolore. Laborum aute elit minim non reprehenderit do cupidatat do consequat. Consequat dolore dolor reprehenderit tempor nulla nisi aliqua exercitation mollit est.</p>
                
                <p>Exercitation occaecat tempor duis deserunt deserunt. Incididunt aute dolore commodo ullamco do ut elit ipsum commodo ex occaecat. Est velit veniam quis dolor cillum magna consequat dolor in nisi Lorem. Occaecat minim ullamco laboris mollit consequat Lorem est elit in. Sint nisi ea cupidatat cillum in et. Culpa ipsum culpa ex aliqua tempor nisi. Cillum proident enim non reprehenderit.</p>
                
                <h2>Header 2</h2>
                
                <figure class="align-right small border rotate-counter shadow">
                    <img src="../assets/img/image-2x3.png" alt="A sample image, sized 2x3">
                    <figcaption>This is a nice picture, right-aligned</figcaption>
                </figure>
                <p>Excepteur nisi velit minim non quis magna duis velit. Exercitation commodo amet esse laborum id id elit elit tempor deserunt. Nulla proident ullamco quis ad adipisicing id. Dolor ea commodo duis tempor in aute.</p>
            
                <p>Sint excepteur officia ullamco ea veniam aute duis. Commodo anim cillum ea do amet sunt anim nisi dolore reprehenderit cupidatat dolore in. Sunt deserunt consequat in pariatur officia ut labore adipisicing voluptate proident ipsum quis pariatur. Sunt culpa eu adipisicing labore et occaecat et aute. Pariatur sint incididunt aliquip ea. Labore exercitation nostrud enim deserunt amet aliqua mollit qui. Ut ea labore quis cupidatat ullamco tempor ex dolor non dolore veniam.</p>

                <h3>Header 3</h3>

                <p>Ad duis non in exercitation deserunt eu Lorem commodo do aliqua anim. Aliqua proident non eu tempor cupidatat et ipsum ad culpa aliqua. Ex eu duis qui ex sit reprehenderit aliqua. Ullamco magna labore ipsum proident sit amet reprehenderit sint magna.</p>

                <blockquote>Blockquote: Ex sunt dolore laborum veniam laborum anim fugiat Lorem consequat cillum sint adipisicing veniam excepteur. Cillum eiusmod est cupidatat sunt dolor magna ullamco voluptate excepteur. Eiusmod anim exercitation commodo exercitation. Commodo et esse duis minim minim aliqua officia duis aliquip. Pariatur amet exercitation ad nulla do dolore magna.</blockquote>

                <p>In dolor voluptate sunt dolor nostrud consequat ipsum laboris labore labore. Ipsum sint culpa cillum elit veniam anim deserunt consectetur. Veniam consequat ad culpa ut officia sunt aliqua ut ullamco et adipisicing excepteur. Consectetur nulla officia ullamco ut voluptate dolore sunt proident ipsum do aliqua ea dolor laboris.</p>
            </article>

            <aside class="box calendar">
                <h1>OC Scottish Rite Upcoming Events</h1>

                <table class="calendar">
                    <tr>
                        <td>Monday<br>January 1st</td>
                        <td>Stated Meeting<br>Anaheim Demolay Center 5:30pm</td>
                    </tr>
                    <tr>
                        <td>Monday<br>January 8th</td>
                        <td>Master Craftsman Study Group 5:00pm<br>Zoom Meeting 5pm-6pm</td>
                    </tr>
                </table>
            </aside>

            <aside class="box condensed clc-boilerplate">
                <h1><span>RiteCare Childhood Language Center of Orange County</span></h1>
                <p class="slug">A Community Program of the Scottish Rite Foundation for Children with Speech and Language Challenges</p>

                <h2>Speech Language Pathologists</h2>
                <ul><li>Leah Beekman, PhD CCC-SLP
                </li><li>Chris Switzer, MA CCC-SLP
                </li><li>Laurie Lennon-Thompson, MS CCC-SLP
                </li><li>Francine Wenhardt, MS CCC-SLP
                </li></ul>
                <p class="big-link"><a href="https://www.oclanguagecenter.org/">www.oclanguagecenter.org</a></p>
                <p>Please support your RiteCare Childhood Language Center by making an individual, group, or company donation. Support our Center by becoming a member:</p>
                <p><strong>President’s Circle:</strong> A donation of $500 or more each year supports one child at the center for a year</p>
                <p><strong>365 Club:</strong> A donation of $365 each year</p>
                <p><strong>Center Club: A</strong> donation of $100 each year</p>
                <h2>This Year's Supporters of the RiteCare Childhood Language Center</h2>
                <h3 id="President’s Circle Members ($500 or more)">President’s Circle Members ($500 or more)</h3>
                <p>Ted Segerstrom, 32° KCCH ● Samuel Brandes, 32° ● Ill. Donald Tapia, 33° ● Mike Selix, 32° KCCH ● Cynthia Olsen & Michele Bakkila ● ll. Ray Godeke, 33° ● Tom Olsen, 32° ● Robert & Kathy Olsen ● Ill. Art Salazar, 33° ● Jim Andronaco, Sidepath ● Nick Villasenor, 32° ● Ill. James D. Nyfeler, 33° ● Ill. David Kussman, 33° ● Ill. Frankie Rosario, 33° ● Cristi Shinn ● Anne Hertz ● Sylvia & Jim Garrett ● David & Deni Frias ● Dr. Judy Montgomery ● Ted & Elaine Olsen ● Joe Manning, Manning Law ● Robert Pickell, 32° ● Betty McMicken ● Chase May, 32° ● Dr. Mary Kennedy ● Alfredo Molina, 32° KCCH ● Daniel Dunn ● Andrew and Palmera Todd  ● Karen Storaci ● Jeff Tran ● Ken Montgomery ● Richard Dellar ● Gil Estupian ● Cathy & Jason Chrest ● Frank Ciltadino ● Raj Patel ● Beth Bind ● Drew & Teale Armenta</p>
                <h3>365 Club Members ($365 each year)</h3>
                <p>Cliff Carpenter, 32°</p>
                <h3>Center Club Members ($100 each year)</h3>
                <p>Thomas Mathisen ● Deanna K Zawistowski ● David W. Lockwood, 32° ● Frederick R. McCuistion, Jr ● Nathan Fay ● Richard Christy ● Muthurangam Balasubramaniam</p>
                <p>For information please contact: Chairman David Frias, 32° (714) 600-8538, <a href="mailto:dfrias@oclanguagecenter.org">dfrias@oclanguagecenter.org</a></p>                
            </aside>

            <aside class="officers-table">
                <h1>Orange County Scottish Rite Officers</h1>
                <table>
                    <tr>
                        <td><img src="../assets/img/hob-portraits/square/james-cole.png" alt="Ill. James D. Cole, 33°"><strong>Ill. James D. Cole, 33°</strong></Ill.><br>Sovereign Grand Commander</td>
                        <td><img src="../assets/img/hob-portraits/square/frank-loui.png" alt="Ill. Frank Loui, 33° "><strong>Ill. Frank Loui, 33°</strong><br>Sovereign Grand Inspector General, Orient of California</td>
                        <td><img src="../assets/img/hob-portraits/square/frankie-rosario.png" alt="Ill. Frankie Rosario, 33° "><strong>Ill. Francisco Rosario, 33°</strong><br>Personal Representative of the SGIG, Orient of California<br>frosario@ocscottishrite.org</td>
                    </tr>
                    <tr>
                        <td><img src="../assets/img/hob-portraits/square/jamie-hopkins.png" alt="Hon. Jamie Hopkins, 32° KCCH"><strong>Hon. Jamie Hopkins, 32° KCCH</strong><br>General Secretary<br>gensec@ocscottishrite.org</td>
                        <td><img src="../assets/img/hob-portraits/square/ralph-shelton.png" alt="Ill. Ralph Shelton, 33° "><strong>Ill. Ralph Shelton, 33°</strong><br>Assistant to the Personal Rep<br>rshelton@ocscottishrite.org</td>
                        <td><img src="../assets/img/hob-portraits/square/david-frias.png" alt="Hon. David Frias, 32° KCCH"><strong>Hon. David Frias, 32° KCCH</strong><br>Venerable Master <br>dfrias@ocscottishrite.org</td>
                    </tr>
                    <tr>
                        <td><img src="../assets/img/hob-portraits/square/brandon-cook.png" alt="Brandon Cook, 32°"><strong>Brandon Cook, 32°</strong> <br>Wise Master <br>bcook@ocscottishrite.org </td>
                        <td><img src="../assets/img/hob-portraits/square/alex-gonzalez.png" alt="Alex Gonzalez, 32°"><strong>Alex Gonzalez, 32°</strong> <br>Commander of Kadosh<br>agonzalez@ocscottishrite.org</td>
                        <td><img src="../assets/img/hob-portraits/square/cristian-dedios.png" alt="Cristian DeDios, 32°"><strong>Cristian DeDios, 32°</strong> <br>Master of Kadosh <br>cdedios@ocscottishrite.org</td>
                    </tr>
                </table>
            </aside>

            <aside class="officers-continued">
                <h2>Serving All Bodies</h2>
                <ul>
                    <li><strong>Mark Pressey, 32°</strong> <br>Treasurer</li>
                    <li><strong>James Cervantes, 32° KCCH</strong><br>Chaplain</li>
                    <li><strong>Lloyd Clayton, 33° IGH</strong><br>Almoner</li>
                    <li><strong>Shawn McCuen, 32° KSA</strong><br> First Knight</li>
                    <li><strong>Andrew Todd, 32°</strong><br> Director of Masonic Education</li>
                    <li><strong>David Frias, 32° KCCH</strong><br>Chairman of the Board, Ritecare Childhood Language Center of Orange County</li>
                    <li><strong>James Cervantes, 32° KCCH</strong><br>Director of the Work</li>
                    <li><strong>Matthew Gage, 32°</strong><br>Director of Ritual</li>
                    <li><strong>Vacant</strong><br>Director of Props and Costumes</li>
                    <li><strong>Larry Griffin, 32°</strong><br>Photographer</li>
                    <li><strong>Jack Alastuey, 32° KCCH</strong><br>Tiler</li>
                </ul>
            </aside>

            <aside class="valley-boilerplate box condensed">
                <h1>The Orange County Scottish Rite Valley</h1>
                <p>2001 East 4th Street, Suite 202, Santa Ana, CA 92705 ● Hours: Monday, Wednesday, Friday 10am-2pm<br>Phone <a href="tel:714-972-2646">(714) 972-2646</a> ● Fax (714) 543-9754 ● <a href="https://www.ocscottisrite.org/">www.ocscottishrite.org</a></p>
                <p>Stated Meetings on the first Monday of the month, 6:30 pm; dinner follows at 7:15 pm (reservations requested) at the Anaheim DeMolay Center, 303 W. Lincoln Ave. Anaheim, CA 92805</p>
                <p><strong>The Valley of Orange County, Ancient and Accepted Scottish Rite of Freemasonry Southern Jurisdiction of the United States of America publishes the Scottish Rite News monthly. No Subscription Price.</strong> </p>
                <p>Edited by Bro. Andrew Todd, 32°, <a href="tel:949-288-3739">(949) 288-3739</a>, <a href="mailto:editor@ocscottishrite.org">editor@ocscottishrite.org</a>. All articles must be submitted prior to the 20th of the month.</p>
            </aside>

            <aside class="sponsors">

            </aside>
            <footer>
                <p>&copy;2022 The Orange County Scottish Rite.</p>
            </footer>
        </main>
        <script src="" async defer></script>
    </body>
</html>