body {
    font-family: Palatino, serif;
    font-size: 18px;
}

main {
    width: 768px;
    margin: 0 auto;
}

p {
    font-size: 1em;
    line-height: 2em;
}

p.signature {
    line-height: 1.5;
    width: 65%;
    padding-bottom: .5em;
}

header {
    width: 100%;
    margin-top: 20px;
}

header figure {
    width: 100%;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
    background: #fcfcfc;
    /* padding: -4em 0 4em 0; */
    /* margin: 0 auto; */
}

header img {
    width: 124%;
    margin-left: -24%;
 }

header aside {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #bbb;
    padding: 2.5em 0;
}

header aside>.issue-label {
    float: left;
}

header aside>.date-label {
    float: right;
}

footer {
    float: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .75em;
}

/* Heading styles */

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-stretch: condensed;
}  

h1 {
    border-top: #ccc .125em dotted;
    font-size: 1.5em;
    margin-top: 2em;
    padding-top: 1.25em;
}

h1.first, body main article:first-of-type h1 {
    border: 0;
    margin-top: 1.5em;
    padding-top: 0;
}

.box h1 {
    margin-top: 0;
    padding-top: 0;
}

h2 {
    font-size: 1.25em;
    color: #666;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 1em;
    color: #666;
}

img {
    width: 100%;
}

/* Link styles */

a {
    color: #004D7F;
}

a:visited {
    color: #666;
}

a:big-link {
    background: #ccc;
}

p > strong > a {
    display: block;
    width: 100%;
    padding: .5em .25em;
    border-top: 2px dotted #ccc;
    border-bottom: 2px dotted #ccc;
    background-color: #f8f8f8;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.25em;
}

button {
  justify-content: center;
  appearance: none;
  background-color: #69c;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 1em;
  font-weight: 600;
  line-height: 20px;
  margin: 0 auto;
  margin-top: -1em;
  margin-bottom: 1em;
  padding: .75em 1.25em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #369;
}

button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #666;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

button:active {
  background-color: #036;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

hr {
    border: 0;
    border-top: #ccc .125em dotted;
}

/* Figure styles */

figure {
    margin: .5em 1em;
    background: #fefefe;
}

article:first-of-type figure.author {
    margin-top: 0;
}

figure.author {
    width: 18.75%;
    float: left;
    margin: 2.5em 1em .5em -72px;
    border: none;
    padding: 0;
}

figure.right {
    float: right;
    margin-right: 0;
}

figure.left {
    float: left;
    margin-left: 0;
}

figure.small {
    width: 25%;
}

figure.medium {
    width: 33%;
}

figure.large {
    width: 40%;
}

figure.full-width, figure.clear {
    width: 95%;
    margin: 0 auto;
}

figure.pad-top {
    margin-top: 2em;
}

.shadow {
        box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure.border, figure.frame {
    border: 1px solid #bbb;
    padding: 1em;
}

figure.rotate-clockwise {
    transform: rotate(6deg);
    margin-left: 2.5em;
    margin-bottom: .5em;
    /* margin-right: -25%; */
}

figure.rotate-counter {
    transform: rotate(-6deg);
    margin-left: 2.5em;
}

figcaption p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: .25em;
    padding: 0;
    line-height: 1.25;
    text-align: center;
}

blockquote {
    margin: 0;
    padding: 1.5em;
    font-size: 1.25em;
    font-style: italic;
    line-height: 1.75em;
    background: #f8f8f8;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

/* ASIDE STYLES */

/* General Box styles */

aside.box {
    border: 1px solid #ccc;
    border-radius: .25em;
    padding: 1em;
    background-color: #f8f8f8; 
    color: #666;
    margin: 1em 0;
}

aside.box h1 {
    border: 0;
    text-align: center;
}

aside.condensed {
    line-height: 1em;
    font-size: .9em;
}

/* Calendar Box styles */

aside.calendar {
    background: #f8f8f8 url('../img/calendar-icon.png') no-repeat bottom 50% right 5%/10em;
}

aside.calendar table {
    margin: 2em;
    width: 75%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

aside.calendar table tr td {
    vertical-align: top;
    padding: 1em 0;
}

aside.calendar table td:first-child {
    font-weight: bold;
}

aside.calendar table tr.calendar-row td {
    height: 100%;
    vertical-align: top;
}

/* CLC Boilerplate Styles */

aside.clc-boilerplate {
    text-align: left;
    margin-top: -1em;
}

aside.clc-boilerplate h1 {
    display: block;
    width: 100%;
    height: 115.71428571px;
    background: url(../img/logos/occlc-logo-horizontal-lightbg.png) no-repeat left top/60%;
}

aside.clc-boilerplate h1 span {
    visibility: hidden;
}

aside.clc-boilerplate p, aside.clc-boilerplate ul li {
    font-size: .9em;
}

aside.clc-boilerplate p.slug {
    font-style: italic;
    font-size: .95em;
}

aside.clc-boilerplate h2 {
    border-top: 2pt dotted #ccc;
    padding-top: .5em;
}

aside.clc-boilerplate p.big-link {
    margin: 0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-stretch: condensed;
    font-size: 2em;
}

aside.clc-donate {
    margin: 2em 0;
}

/* Tab leader styles */

ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
}

ul.leaders li {
    padding: .5em 0;
}

ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . ";
}

ul.leaders span:first-child {
    padding-right: 0.33em;
    background: #f8f8f8;
}

ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: #f8f8f8;
}

/* Officer's Table styles */

aside#officers {
    width: 100%;
    margin: 0 auto;
}

aside#officers ul {
    overflow: hidden;
    padding-left: 0;
}

aside#officers li {
    text-decoration: none;
    display: inline;
    float: left;
    width: 30.3%;
    padding: .5em;
    overflow: hidden;
    line-height: 1.25em;
}

aside#officers li img {
    display: block;
    width: 100%;
}

aside.officers-table table td {
    width: 33.333333%;
    padding: .75em;
    vertical-align: top;
    font-size: .9em;
}

aside.officers-table table td img {
    max-width: 100%;
}

/* Officers Continued styles */

aside.officers-continued ul {
    padding: 0;
    list-style: none;
}

aside.officers-continued ul li {
    padding: .5em;
}

aside.officers-continued ul li:nth-child(odd) {
    background: #eee;
}

/* Sponsors styles */

aside.sponsors ul {
    overflow: hidden;
    padding-left: 0;
}

aside.sponsors li {
    text-decoration: none;
    display: inline;
    float: left;
    width: 45%;
    padding: 1em;
}

aside.sponsors li img {
    display: block;
    width: 100%;
}

/* MEDIA QUERIES/RESPONSIVE/MOBILE STUFF */

/* @todo put back max-device-width when done testing!!! */
 
@media screen and (max-device-width: 810px){
    /* place here CSS targeted at iPads and smaller, including iPhones and small hand-held devices */
    body {
        font-size: 1em;
    }
    
    main {
        width: 90%;
    }

    header img {
        width: 100%;
        margin-left: -2em;
    }

    figure.author {
        width: 30%;
        margin: 0 0 -1em 0;
        padding: 2.5em 1em 1em 0;
    }

    figure.full-width, figure.clear {
        width: 90%;
    }

    aside#officers.officers-table {
        width: 100%;
    }        
    
    h1 {
        border-top: none;
        margin-top: 1em;
        padding-top: 1.25em;
    }
    
    h1.first {
        margin-top: .5em;
        padding-top: 1.25em;
    }

    p.signature {
        width: 75%;
    }

    aside.calendar {
        background: #f8f8f8 url('../img/calendar-icon.png') no-repeat bottom 50% right 5%/7em;
    }
    
}

/* @todo put back max-device-width when done testing!!! */

@media screen and (max-device-width: 568px) {
    /* place here CSS targeted at iPhones and smaller screen sizes, not iPads */
    aside.clc-boilerplate h1 {
        height: 115.71428571px;
        background: url(../img/logos/occlc-logo-horizontal-lightbg.png) no-repeat left top/100%;
    }
    
    aside.sponsors li {
        text-decoration: none;
        width: 100%;
    }

    aside#officers li {
        width: 40%;
    }
            
}


/* @todo put back max-device-width when done testing!!! */

@media screen and (min-device-width: 570px) and (max-device-width: 810px){

     /** iPad only, or other similar-sized pads. Not iPhones, not smaller hand-held devices. **/
    main {
        width: 90%;
    }

    figure.author {
        width: 15%;
    } 
    
    aside#officers li {
        width: 28%;
    }
    
}