<article>
    <h1>Header 1</h1>

    <figure class="author-photo">
        <img src="../assets/img/author.png" alt="A photo of the article author">
    </figure>
    <p>Commodo veniam qui in aliqua occaecat qui fugiat ad. Qui deserunt deserunt aute id laboris consectetur. Cupidatat aliquip fugiat amet consequat incididunt. Incididunt non occaecat consequat excepteur enim. Adipisicing aliqua sunt anim sint nulla ea. Elit non pariatur sunt non amet ex qui nisi incididunt elit.</p>

    <p>Dolore exercitation consectetur commodo elit nostrud consectetur ad ut do consectetur exercitation do. Pariatur eiusmod incididunt irure culpa ex nostrud id ea quis exercitation eu. Tempor pariatur culpa consequat reprehenderit sint deserunt sint mollit. Ullamco tempor fugiat magna proident mollit fugiat sunt sint ex. Lorem elit ea officia nulla duis amet do commodo dolore. Laborum aute elit minim non reprehenderit do cupidatat do consequat. Consequat dolore dolor reprehenderit tempor nulla nisi aliqua exercitation mollit est.</p>
    
    <p>Exercitation occaecat tempor duis deserunt deserunt. Incididunt aute dolore commodo ullamco do ut elit ipsum commodo ex occaecat. Est velit veniam quis dolor cillum magna consequat dolor in nisi Lorem. Occaecat minim ullamco laboris mollit consequat Lorem est elit in. Sint nisi ea cupidatat cillum in et. Culpa ipsum culpa ex aliqua tempor nisi. Cillum proident enim non reprehenderit.</p>
    
    <h2>Header 2</h2>
    
    <figure class="align-right small border rotate-counter shadow">
        <img src=",,/assets/img/image-2x3.png" alt="A sample image, sized 2x3">
        <figcaption>This is a nice picture, right-aligned</figcaption>
    </figure>
    <p>Excepteur nisi velit minim non quis magna duis velit. Exercitation commodo amet esse laborum id id elit elit tempor deserunt. Nulla proident ullamco quis ad adipisicing id. Dolor ea commodo duis tempor in aute.</p>

    <p>Sint excepteur officia ullamco ea veniam aute duis. Commodo anim cillum ea do amet sunt anim nisi dolore reprehenderit cupidatat dolore in. Sunt deserunt consequat in pariatur officia ut labore adipisicing voluptate proident ipsum quis pariatur. Sunt culpa eu adipisicing labore et occaecat et aute. Pariatur sint incididunt aliquip ea. Labore exercitation nostrud enim deserunt amet aliqua mollit qui. Ut ea labore quis cupidatat ullamco tempor ex dolor non dolore veniam.</p>

    <h3>Header 3</h3>

    <p>Ad duis non in exercitation deserunt eu Lorem commodo do aliqua anim. Aliqua proident non eu tempor cupidatat et ipsum ad culpa aliqua. Ex eu duis qui ex sit reprehenderit aliqua. Ullamco magna labore ipsum proident sit amet reprehenderit sint magna.</p>

    <blockquote>Blockquote: Ex sunt dolore laborum veniam laborum anim fugiat Lorem consequat cillum sint adipisicing veniam excepteur. Cillum eiusmod est cupidatat sunt dolor magna ullamco voluptate excepteur. Eiusmod anim exercitation commodo exercitation. Commodo et esse duis minim minim aliqua officia duis aliquip. Pariatur amet exercitation ad nulla do dolore magna.</blockquote>

    <p>In dolor voluptate sunt dolor nostrud consequat ipsum laboris labore labore. Ipsum sint culpa cillum elit veniam anim deserunt consectetur. Veniam consequat ad culpa ut officia sunt aliqua ut ullamco et adipisicing excepteur. Consectetur nulla officia ullamco ut voluptate dolore sunt proident ipsum do aliqua ea dolor laboris.</p>
</article>