body {
    font-family: Palatino, serif;
}

p {
    font-size: 17.333333333333332px;
    line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-stretch: condensed;
}  

h1 {
    border-top: #ccc 2px dotted;
    font-size: 26.666666666666668px; 
}

h1.first {
    border: 0;
}

h2 {
    font-size: 21.333333333333332px;
    color: #666;
}

h3 {

}

h4 {

}

img {
    width: 100%;
}

figure.author-photo {
    width: 144px;
}

