<aside class="box condensed clc-boilerplate shadow">
    <h1><span>RiteCare Childhood Language Center of Orange County</span></h1>
    <p class="slug">A Community Program of the Scottish Rite Foundation for Children with Speech and Language Challenges</p>

    <h2>Speech Language Pathologists</h2>
    <ul><li>Leah Beekman, PhD CCC-SLP
    </li><li>Chris Switzer, MA CCC-SLP
    </li><li>Laurie Lennon-Thompson, MS CCC-SLP
    </li><li>Francine Wenhardt, MS CCC-SLP
    </li></ul>
    <p class="big-link"><a href="https://www.oclanguagecenter.org/">www.oclanguagecenter.org</a></p>
    <p>Please support your RiteCare Childhood Language Center by making an individual, group, or company donation. Support our Center by becoming a member:</p>
    <p><strong>President’s Circle:</strong> A donation of $500 or more each year supports one child at the center for a year</p>
    <p><strong>365 Club:</strong> A donation of $365 each year</p>
    <p><strong>Center Club: A</strong> donation of $100 each year</p>
    <h2>This Year's Supporters of the RiteCare Childhood Language Center</h2>
    <h3 id="President’s Circle Members ($500 or more)">President’s Circle Members ($500 or more)</h3>
    <p>Ted Segerstrom, 32° KCCH ● Samuel Brandes, 32° ● Ill. Donald Tapia, 33° ● Mike Selix, 32° KCCH ● Cynthia Olsen & Michele Bakkila ● ll. Ray Godeke, 33° ● Tom Olsen, 32° ● Robert & Kathy Olsen ● Ill. Art Salazar, 33° ● Jim Andronaco, Sidepath ● Nick Villasenor, 32° ● Ill. James D. Nyfeler, 33° ● Ill. David Kussman, 33° ● Ill. Frankie Rosario, 33° ● Cristi Shinn ● Anne Hertz ● Sylvia & Jim Garrett ● David & Deni Frias ● Dr. Judy Montgomery ● Ted & Elaine Olsen ● Joe Manning, Manning Law ● Robert Pickell, 32° ● Betty McMicken ● Chase May, 32° ● Dr. Mary Kennedy ● Alfredo Molina, 32° KCCH ● Daniel Dunn ● Andrew and Palmera Todd  ● Karen Storaci ● Jeff Tran ● Ken Montgomery ● Richard Dellar ● Gil Estupian ● Cathy & Jason Chrest ● Frank Ciltadino ● Raj Patel ● Beth Bind ● Drew & Teale Armenta</p>
    <h3>365 Club Members ($365 each year)</h3>
    <p>Cliff Carpenter, 32°</p>
    <h3>Center Club Members ($100 each year)</h3>
    <p>Thomas Mathisen ● Deanna K Zawistowski ● David W. Lockwood, 32° ● Frederick R. McCuistion, Jr ● Nathan Fay ● Richard Christy ● Muthurangam Balasubramaniam</p>
    <p>For information please contact: Chairman David Frias, 32° (714) 600-8538, <a href="mailto:dfrias@oclanguagecenter.org">dfrias@oclanguagecenter.org</a></p>                
</aside>