<article>
    <h1>From the Editor</h1>
    <p>I’d like to express my thanks again to the heads of body for contributing their excellent and thoughtful articles this month and for doing so in a timely fashion.</p>

    <h2>Calling All Writers!</h2>

    <p>You don’t have to be a head of body or a member of the line to contribute to this newsletter! If you have something to say from a masonic perspective — perhaps insights into your masonic ruminations, scholarly endeavors you’d like to share, or general news for the brethren — this newsletter is your conduit for those ideas. I encourage any and all brothers who’d like to contribute something to this newsletter to send their ideas to:</p>

    <p><a href="mailto:editor@ocscottishrite.org">editor@ocscottishrite.org</a></p>

    <p>I’ll work with you on getting your article together for the next issue.</p>

    <p>Fraternally,</p>

    <p class="signature">Andrew Todd, 32°<br>Editor, Director of Masonic Education</p>
</article>