{{with .Get 0}}
{{.}}
    {{$filename := string .}}
    {{with site.GetPage ($filename)}}
         <article>
            {{$author := .Param "author"}}
            {{with .Param "image"}}
                <figure class="author">
                    <img src="/assets/img/hob-portraits/author/{{.}}" alt="{{$author}}">
                </figure>
            {{end}}
            {{.Content}}
            <p class=signature>
                <strong>{{.Param "author"}}</strong><br>{{.Param "title"}}
            </p>
        </article>
    {{end}}
{{end}}