{{with $.Page.Param "calendar"}}
    <aside id="calendar" class="box calendar shadow">
        <h1>OC Scottish Rite Upcoming Events</h1>

        <table>
            {{range .}}
                <tr class="calendar-row">
                    <td width="33%">{{.day}}<br>{{.date}}</td>
                    <td width="50%">{{.event}}<br>{{.location}} {{.time}}{{with .notes}}{{.}}{{end}}</td>
                    <td>&nbsp;</td>
                </tr>
            {{end}}
        </table>
    </aside>
{{end}}