<aside id="clc-masthead" class="box condensed clc-boilerplate shadow">
    <h1><span>RiteCare Childhood Language Center of Orange County</span></h1>
    <p class="slug">A Community Program of the Scottish Rite Foundation for Children with Speech and Language Challenges</p>

    <h2>Speech Language Pathologists</h2>
    <ul><li>Leah Beekman, PhD CCC-SLP
    </li><li>Chris Switzer, MA CCC-SLP
    </li><li>Laurie Lennon-Thompson, MS CCC-SLP
    </li><li>Francine Wenhardt, MS CCC-SLP
    </li></ul>
    <p class="big-link"><a href="https://www.casrf.org/orangecounty">www.casrf.org/orangecounty</a></p>
    <p>Please support your RiteCare Childhood Language Center by making an individual, group, or company donation. Support our Center by becoming a member:</p>
    <p><strong>President’s Circle:</strong> A donation of $500 or more each year supports one child at the center for a year</p>
    <p><strong>365 Club:</strong> A donation of $365 each year</p>
    <p><strong>Center Club: A</strong> donation of $100 each year</p>
    <h2>This Year's Supporters of the RiteCare Childhood Language Center</h2>
    <h3 id="President’s Circle Members ($500 or more)">2023 President’s Circle Members ($500 or more)</h3>
    <p>Ted Segerstrom, 32° KCCH ● Ill. Donald Tapia, 33° ● Ill. Art Salazar, 33° ● Jim Andronaco, Sidepath ● Nick Villasenor, 32° ● Ill. James D. Nyfeler, 33° ● Ill. David Kussman, 33° ● Ill. Frankie Rosario, 33° ● Cristi Shinn ● David & Deni Frias ● Joe Manning, Manning Law ● Chase May, 32° ● Dr. Mary Kennedy ● Daniel Dunn ● Andrew and Palmera Todd ● Jeff Tran</p>
    <h3>365 Club Members ($365 each year)</h3>
    <p>Cliff Carpenter, 32°</p>
    <h3>Center Club Members ($100 each year)</h3>
    <p>Thomas Mathisen ● Deanna K Zawistowski ● David W. Lockwood, 32° ● Frederick R. McCuistion, Jr ● Nathan Fay ● Richard Christy ● Muthurangam Balasubramaniam</p>
    <p>For information please contact: Chairman David Frias, 32° (714) 600-8538, <a href="mailto:dfrias@oclanguagecenter.org">dfrias@oclanguagecenter.org</a></p>                
</aside>