    <aside id="dinner" class="box shadow">
        <h1>Join Us For a Meal and Brotherly Fellowship</h1>

        <p>After our Stated Meeting we'll be serving <strong>a chicken dinner</strong>. Please stick around and catch up with your Scottish Rite brothers! Cost for brothers is <strong>$14</strong>.</p>

        <p>If you'd like to eat with us, please RSVP prior to the meeting and we'll make sure we've got enough good stuff to fill your belly.</p>

        <h2>RSVP</h2>

        <p style="margin-left: 2em;"><strong>Contact:</strong> Hon. James McCallion<br />
            <strong>Email:</strong> <a href="mailto:jmccallion@ocscottishrite.org">jmccallion@ocscottishrite.org</a><br />
            <strong>Phone:</strong> <a href=""tel:9519879902>(951) 987-9902</a>
        </p>
    </aside>