    <aside id="dinner" class="box shadow">
        <h1>Join Us For a Holiday Meal and Brotherly Fellowship</h1>

        <p>Please make plans to attend on Monday, <strong>December 5th at the Demolay Center in Anaheim</strong>. Stated Meeting begins at 6:30pm and our holiday dinner will begin at 7:15pm.</p>

        <p>This is a festive occasion, so please be mindful of our winter dress code: <strong>Suits, Jackets, and festive attire</strong>.</p>
        
       <p>Dinner menu is being provided by <strong>Mimi's Cafe</strong>, free to all brethren, and includes:</p> 
       
       <ul>
        <li>Hand Carved Turkey with gravy, cornbread stuffing and orange-apple cranberry relish. Served with mashed potatoes and vegetables</li>
        <li>Pot Roast Slowly braised and simmered in red wine shallot gravy. Served with mashed potatoes and vegetables</li>
        <li>Pie and coffee for dessert</li>
       </ul>
        
        <p>I look forward to seeing you all there!</p>
    </aside>