<aside id="dinner" class="box shadow">
    <h1>Join us for dinner</h1>
    <figure class="right medium border rotate-clockwise hang-right shadow">
        <img src="img/brew-hawg-bbq.webp" alt="Brew Hawg BBQ logo">
    </figure>
    <p>Please make plans to join us for dinner after Stated Meeting at 7:00pm. By popular demand, Brother Griffin has cooked up the following delicious meal from Brew Hawg BBQ:</p>

    <ul>
        <li>BBQ ribs</li>
        <li>Pulled pork</li>
        <li>Brisket</li>
        <li>BBQ baked beans</li>
        <li>Mac and cheese</li>
        <li>Rolls</li>
        <li>Tea</li>
    </ul>

    <p>In conjunction with our <a href="#distinguished-speaker">Distinguished Speaker event</a>, featuring Ill. Ralph Shelton, 33°, the cost of <strong>this special dinner is $20</strong>.</p>

    <h2>Reservations required!</h2>
    <p>If you're going to join us this event, we ask that you <a href="https://us20.list-manage.com/survey?u=113ef8afce377dd751cdbb0ca&id=5219dacb10&attribution=false">RSVP in advance</a>.</p>
    <br><br>
    <button class="button"><a href="https://us20.list-manage.com/survey?u=113ef8afce377dd751cdbb0ca&id=5219dacb10&attribution=false">Reserve your spot now!</a></button>
    <br><br>
</aside>