<aside id="distinguished-speaker" class="box shadow">
    <h1>RSVP now for an enlightening evening</h1>
    <figure class="clear ">
        <img src="img/Ralph-Shelton-Distinguished-Speaker-1.png" alt="The Orange County Scottish Rite Presents: Masonic Magicians of the Golden Age, with Distinguished Speaker Ill. Ralph Shelton, 33°">
    </figure>
    <p>Join us Monday, April 3rd at 7:00pm, where <strong>Illustrious Ralph Shelton, 33°</strong> will be giving an illuminating talk on <strong>Masonic Magicians of the Golden Age</strong>.</p>

    <p>In conjunction with our Distinguished Speaker event, <a href="#dinner">Brother Larry Griffin has arranged a special dinner</a>.</p>

    <p><strong>When:</strong> Monday, April 3rd at 7:00pm
    <br><strong>Where:</strong> Anaheim Demolay Center, 303 W Lincoln Ave in Anaheim, California 92805
    <br><strong>Cost:</strong> $20 for dinner (RSVP required)</p>

Please forward this email to your Blue Lodge brothers and anyone else you think might like to attend!

    <h2>Reservations required!</h2>
    <p>If you're going to join us this event, we ask that you <a href="https://us20.list-manage.com/survey?u=113ef8afce377dd751cdbb0ca&id=5219dacb10&attribution=false">RSVP in advance</a>.</p>
    <br><br>
    <button class="button"><a href="https://us20.list-manage.com/survey?u=113ef8afce377dd751cdbb0ca&id=5219dacb10&attribution=false">Reserve your spot now!</a></button>
    <br><br>
</aside>