{{ $dinnerIncluded := false }}
{{ $rsvpRequired := 0 }}
{{ $rsvpUrl := "mailto:rsvp@ocscottishrite.org"}}
{{ $name := "TBD" }}
{{ $cost := "TBD" }}

{{ with $.Page.Param "dinner" }}
    {{ if isset . "0" }}
        {{ $dinnerIncluded = true }}
        {{ range .}}
            {{ if .name }}{{ $name = .name }}{{ end }}
            {{ if .cost }}{{ $cost = .cost }}{{ end }}
            {{ if .rsvpRequired }}{{ $rsvpRequired = .rsvpRequired }}{{ end }}
            {{ if .rsvpUrl }}{{ $rsvpUrl = .rsvpUrl }}{{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ with $.Page.Param "speaker" }}
    {{ if isset . "0" }}
       {{ range . }}
            <aside id="distinguished-speaker" class="box shadow">
                <h1>{{ default "RSVP now for an enlightening evening" .title }}</h1>

        
                {{ $imageAlt := default "Join the Orange County Scottish Rite for the latest installation of their Disinguished Speaker series" .imageAlt }}
                {{ with .image }}
                    <figure class="clear ">
                        <img src="{{ . }}" alt="{{ $imageAlt }}">
                    </figure>
                {{ end }}
                
                <p>Join us {{ default "on a date to be determined soon" .dateTime }}, when <strong>{{ default "a soon to be announced" .speakerName }}</strong> will be leading a rousing rendition of <strong>{{ default "a topic you're going to love" .topic }}</strong>.</p>

                {{ if $dinnerIncluded }}
                <p>In conjunction with this special event, <a href="#dinner">we've arranged a special dinner</a>.</p>
                {{ end }}

                <ul>
                    <li><strong>When:</strong> {{ .dateTime | default "TBD" }}</li>
                    <li><strong>Where:</strong> {{ .location | default "TBD" }}</li>
                    <li><strong>Cost:</strong>  {{ $cost }} for dinner</li>
                </ul>

                <p>Please forward this email to your <strong>Blue Lodge brothers</strong> and anyone else you think might like to attend!</p>

                {{ if $rsvpRequired = true }}
                    <h2>Reservations required!</h2>
                    <p>If you're going to join us this event, we ask that you <a href="{{ $rsvpUrl }}">RSVP in advance</a>.</p>
                    <br><br>
                    <button class="button"><a href="{{ $rsvpUrl }}">Reserve your spot now!</a></button>
                    <br><br>
                {{ end }}
            </aside>
        {{ end }}
    {{ end }}
{{ end }}