<aside id="special-event" class="box shadow">
    <h1>Join us for Holiday Cheer at Our Annual Christmas Party!</h1>
    
    <figure class="right medium border rotate-clockwise hang-right shadow"><img src="/assets/img/holiday-ornament.png" alt=""></figure>
    
    <p>Kick off the holiday season with a heart full of gratitude and joy at our annual Christmas Party! We'll be hosting the families and staff of our favorite charity, the RiteCare Childhood Language Center of Orange County.</p>

    <p>We'll have gifts and activities for the children, treats, and a fantastic meal. There is no charge for dinner, but we encourage all our brothers to donate whatever amount you can to Language Center.</p>

    <p>We'll wrap up the event with presents and a visit from Santa Claus himself!</p>

    <h2>Location and Information</h2>
    <p>The event is being held at the Anaheim Demolay Center, 303 West Lincoln Avenue, Anaheim, CA 92805. For questions and information, please contact <a href="mailto:gensec@ocscottishrite.org">Jamie Hopkins</a>.</p>

    <p>See you there!</p>
</aside>
