<aside id="special-event" class="box shadow">
    <h1>Join us for our Annual Installation of Officers!</h1>

    <p>It's that time of year, when we install our new group of officers for the 2024 Orange County Scottish Rite year. We have the honor this year of hosting <strong>Ill. Frank Loui, 33º</strong>, <strong>Ill. Art Salazar, 33º</strong> <strong>Hon. Charles Cross, 32º</strong> who will be installing our officers this year.</p>
    
    <h2>Location and Information</h2>
    <ul>
        <li><strong>Location:</strong> Anaheim Demolay Center, 303 West Lincoln Avenue, Anaheim, CA 92805. For questions and information, please contact <a href="mailto:gensec@ocscottishrite.org">Jamie Hopkins</a>.</li>
        <li><strong>Date:</strong> Sunday, January 14, 2024</li>
        <li><strong>Time:</strong> 2:00pm - 4:00pm (incoming and outgoing officers should arrive by 11:30am)</li>
        <li><strong>Notes: Ceremony starts at 2pm. An Italian buffet will follow.</strong></li>
    </ul>

    <p>See you there!</p>
</aside>
