<aside id="officers" class="officers-table">
    <h1>Orange County Scottish Rite Officers</h1>

    <ul>
        <li><img src="/assets/img/hob-portraits/square/james-cole.png" alt="Ill. James D. Cole, 33°"><strong>Ill. James D. Cole, 33°</strong></Ill.><br>Sovereign Grand Commander</li>
        <li><img src="/assets/img/hob-portraits/square/frank-loui.png" alt="Ill. Frank Loui, 33° "><strong>Ill. Frank Loui, 33°</strong><br>Sovereign Grand Inspector General, Orient of California</li>
        <li><img src="/assets/img/hob-portraits/square/frankie-rosario.png" alt="Ill. Frankie Rosario, 33°"><strong>Ill. Francisco Rosario, 33°</strong><br>Personal Representative of the SGIG, Orient of California<br>frosario@ocscottishrite.org</li>
        <li><img src="/assets/img/hob-portraits/square/jamie-hopkins.png" alt="Hon. Jamie Hopkins, 32° KCCH"><strong>Hon. Jamie Hopkins, 32° KCCH</strong><br>General Secretary<br>gensec@ocscottishrite.org</li>
        <li><img src="/assets/img/hob-portraits/square/ralph-shelton.png" alt="Ill. Ralph Shelton, 33°"><strong>Ill. Ralph Shelton, 33°</strong><br>Assistant to the Personal Rep<br>rshelton@ocscottishrite.org</li>
        <li><img src="/assets/img/hob-portraits/square/andrew-todd.png" alt="Andrew Todd, 32°"><strong>Andrew Todd, 32°</strong><br>Venerable Master <br>atodd@ocscottishrite.org</li>
        <li><img src="/assets/img/hob-portraits/square/todd-herschberg.png" alt="Todd Herschberg, 32°"><strong>Todd Herschberg, 32°</strong> <br>Wise Master <br>bcook@ocscottishrite.org </li>
        <li><img src="/assets/img/hob-portraits/square/matt-gage.png" alt="Matt Gage, 32°"><strong>Matt Gage, 32°</strong> <br>Commander of Kadosh<br>agonzalez@ocscottishrite.org</li>
        <li><img src="/assets/img/hob-portraits/square/consistory-badge.jpeg" alt="Luis Carrion, 32°"><strong>Luis Carrion, 32°</strong> <br>Master of Kadosh <br>cdedios@ocscottishrite.org</li>
    </ul>
</aside>

<aside class="officers-continued">
    <h2>Lodge of Perfection</h2>
    <ul>
        <li><strong>Andrew Todd, 32°</strong> <br>Venerable Master</li>
        <li><strong>James McCallion, 32° KCCH</strong> <br>Senior Warden</li>
        <li><strong>Larry Griffin, 32°</strong> <br>Junior Warden</li>
    </ul>

    <h2>Chapter Rose Croix</h2>
    <ul>
        <li><strong>Todd Herschberg, 32°</strong> <br>Wise Master</li>
        <li><strong>David Lockwood, 32°</strong> <br>Senior Warden</li>
        <li><strong>Russ Hennings, 32°</strong> <br>Junior Warden</li>
    </ul>

    <h2>Council of Kadosh</h2>
    <ul>
        <li><strong>Matt Gage, 32°</strong> <br>Commander</li>
        <li><strong>Alejo Velarde, 32°</strong> <br>1st Lt. Commander</li>
        <li><strong>Sean Womack, 32°</strong> <br>2nd Lt. Commander</li>
        <li><strong>Justin DaSilva, 32°</strong> <br>Chancellor</li>
    </ul>

    <h2>Consistory</h2>
    <ul>
        <li><strong>Luis Carrion, 32°</strong> <br>Master of Kadosh</li>
        <li><strong>Jack Hennings, 32°</strong> <br>Prior</li>
        <li><strong>Henry Paradela, 32°</strong> <br>Preceptor</li>
        <li><strong>Erik Harbour, 32°</strong> <br>Chancellor</li>
    </ul>

    <h2>Serving All Bodies</h2>
    <ul>
        <li><strong>Mark Pressey, 32°</strong> <br>Treasurer</li>
        <li><strong>James Olivier, 32° KCCH</strong><br>Chaplain</li>
        <li><strong>David Kussman, 33° IGH</strong><br>Almoner</li>
        <li><strong>James Segerstrom, 32° KSA KCCH</strong><br> First Knight</li>
        <li><strong>James McCallion, 32° KCCH</strong><br> Director of Masonic Education</li>
        <li><strong>David Frias, 32° KCCH</strong><br>Chairman of the Board, Ritecare Childhood Language Center of Orange County</li>
        <li><strong>James Olivier, 32° KCCH</strong><br>Prelate, Director of the Work</li>
        <li><strong>Christian DeDios, 32°</strong><br>Master/Marshall of Ceremonies</li>
        <li><strong>Brandon Cook, 32°</strong><br>Expert</li>
        <li><strong>Diego Verduzco, 32°</strong><br>Assistant Expert</li>
        <li><strong>Jack Alastuey, 32° KCCH</strong><br>Tiler/Sentinel</li>
        <li><strong>Larry Griffin, 32°</strong><br>Photographer</li>
    </ul>
</aside>

<aside id="ocsr-masthead" class="valley-boilerplate box condensed shadow">
    <h1>The Orange County Scottish Rite Valley</h1>
    <p>2001 East 4th Street, Suite 202, Santa Ana, CA 92705 ● Hours: Monday, Wednesday, Friday 10am-2pm<br>Phone <a href="tel:714-972-2646">(714) 972-2646</a> ● Fax (714) 543-9754 ● <a href="https://www.ocscottisrite.org/">www.ocscottishrite.org</a></p>
    <p>Stated Meetings on the first Monday of the month, 6:30 pm; dinner follows at 7:15 pm (reservations requested) at the Anaheim DeMolay Center, 303 W. Lincoln Ave. Anaheim, CA 92805</p>
    <p><strong>The Valley of Orange County, Ancient and Accepted Scottish Rite of Freemasonry Southern Jurisdiction of the United States of America publishes the Scottish Rite News monthly. No Subscription Price.</strong> </p>
    <p>Edited by Bro. Andrew Todd, 32°, <a href="tel:949-288-3739">(949) 288-3739</a>, <a href="mailto:editor@ocscottishrite.org">editor@ocscottishrite.org</a>. All articles must be submitted prior to the 20th of the month.</p>
</aside>