<aside id="special-event" class="box shadow">
    <h1>See You At Honours!</h1>
    <p>Our Biennial California Honors (33º and KCCH) are scheduled for Saturday, September 9, 2023. We should all be mindful of the importance of supporting our Honor Men, and make every effort to attend this event and to encourage our brethren to attend.</p>
    <p>This year we are fortunate to have two of our number being invested as Knights Commander of the Court of Honor - Bros. Charles Cross and Andrew Todd. The KCCH ceremony is open to all. Please make plans to join us!</p>
</aside>
