<aside id="sponsors" class="sponsors">
    <h1>Please Support Our Sponsors</h1>  

    <ul>
        <li id="barth-financial">One</li>
        <li><img src="" alt="">Two</li>
        <li><img src="" alt="">Three</li>
        <li><img src="" alt="">Four</li>
        <li><img src="" alt="">Five</li>
        <li><img src="" alt="">Six</li>
        <li><img src="" alt="">Seven</li>
        <li><img src="" alt="">Eight</li>
        <li><img src="" alt="">Nine</li>
        <li><img src="" alt="">Ten</li>
    </ul>
</aside>