<aside id="sponsors" class="sponsors">
    <h1>Please Support Our Sponsors</h1>  

    <ul>
        <li id="barth-financial"><img src="/assets/img/sponsors/cga1.png" alt="Charitable giving made easy!"></li>
        <li><img src="" alt=""><img src="/assets/img/sponsors/cga2.png" alt="Benefits of CGA"></li>
        <li><img src="" alt=""><img src="/assets/img/sponsors/john-kahvedjian.png" alt="John Kahvedjian"></li>
        <li><img src="" alt=""><img src="/assets/img/sponsors/hecm-group.png" alt="HECM Group"></li>
        <li><img src="" alt=""><img src="/assets/img/sponsors/griffin-photography.png" alt="Griffin Photography"></li>
        <li><img src="" alt=""><img src="/assets/img/sponsors/casrf.png" alt="The California Scottish Rite Foundation"></li>
        <li><img src="" alt=""><img src="/assets/img/sponsors/barth-financial.png" alt="Barth Financial"></li>
        <li><img src="" alt=""><img src="/assets/img/sponsors/no-nonsense.png" alt="The No-Nonsense Termite Company"></li>
        <li><img src="" alt=""><img src="/assets/img/sponsors/space-for-rent.png" alt="This Space for Rent"></li>
        <li><img src="" alt=""><img src="/assets/img/sponsors/space-for-rent.png" alt="This Space for Rent"></li>
    </ul>
</aside>