<aside id="summer-attire" class="box shadow">
    <h1>Stay Cool During the Warm Months with Summer Attire</h1>
    <figure class="right medium border rotate-clockwise hang-right shadow"><img src="/assets/img/polo.png" alt="An orange and teal polo shirt"></figure>
    <p>Starting in May, and running through September, we'll be relaxing the dress code for Stated Meetings and allowing "Summer Attire". Suits and ties are not required, but we still ask that you follow the general concept of "Business Casual," which may include:</p>

    <ul>
        <li>Slacks</li>
        <li>Chinos</li>
        <li>Dress shirt</li>
        <li>Polo shirt</li>
        <li>Blazer</li>
        <li>Sport coat</li>
        <li>Dress shoes</li>
        <li>Loafers</li>
      </ul>

      <p>Bottom line: We want to keep it cool, clean, and professional!</p>
</aside>