<aside id="special-event" class="box shadow">
    <h1>See You At Our Fall Super Breakfast!</h1>
    
    <figure class="right medium border rotate-clockwise hang-right shadow"><img src="/assets/img/breakfast.png" alt=""></figure>
    
    <p>
        Make plans to join us at our Fall Super Breakfast on Sunday morning, November 12th. We'll be opening the doors at 9am and enjoying community and some great food. Bring your family and join us for:
    </p>

    <ul>
        <li>Custom omelettes</li>
        <li>Fully loaded waffles</li>
        <li>Bacon</li>
        <li>Sausage</li>
        <li>Biscuits and gravy</li>
        <li>Coffee</li>
        <li>...and more!</li>
    </ul>

    <h2>Location and Information</h2>
    <p>The event is being held at the Anaheim Demolay Center, 303 West Lincoln Avenue, Anaheim, CA 92805. If you haven't received tickets in the mail, please contact <a href="mailto:gensec@ocscottishrite.org">Jamie Hopkins</a>.</p>

    <p>See you there!</p>
</aside>
