<aside id="summer-attire" class="box shadow">
    <h1>Fall Back to Winter Attire</h1>
    <figure class="right medium border rotate-clockwise hang-right shadow"><img src="/assets/img/suit.png" alt="An orange and teal polo shirt"></figure>
    <p>Starting in October, and running through April, we'll be returning to our formal dress code for Stated Meetings. We ask that you dress in a professional manner, which may include:</p>

    <ul>
        <li>Suit</li>
        <li>Sport Coat</li>
        <li>Blazer</li>
        <li>Dress shirt</li>
        <li>Tie</li>
        <li>Slacks</li>
        <li>Dress shoes</li>
      </ul>

      <p>Thanks for your cooperation!</p>
</aside>