<aside id="zoom-help" class="zoom-help box">
    <h1>Zoom Tips and Tricks</h1>
    <p>If you are new to this crazy Zoom technology, or you just want to get the most out of the product, <a href="zdnet.com">ZDNet</a> provides a great set of tips and tricks for giving a good talk on the platform.</p>
    <button type="button" aria-role="link" onclick="window.location.href='https://www.zdnet.com/article/zoom-101-a-starter-guide-for-beginners-plus-advanced-tips-and-tricks-for-pros/';">Check It Out!</button>
</aside>